%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:friendships, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:friendships, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:friendships, :edit, :id => @friendship.id)

.tabs-content
  = form_for :friendship, url(:friendships, :update, :id => @friendship.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'friendships/form', :locals => { :f => f }
